In [1]:
import pandas as pd
import numpy as np

In [2]:
data2=pd.read_csv("dqmaster_refined.csv")

/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
data1=pd.read_csv("acc_refined.csv")

/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (8,16) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
data1.columns
data1.shape
data1.head()
data1['LINE_NO']=data1['LINE_NO'].astype(str)
len(data1)

2880474

In [5]:
data2.columns
data2.shape
data2['LINE_NO']=data2['LINE_NO'].astype(str)
data2.head()

,Unnamed: 0,DQ_NO,NETW_CARR,MAST_NO,DEPT_NO,LINE_NO,ENGL_CUST_NAME,ENGL_CAP1,ENGL_CAP2,ENGL_CAP3,ENGL_CAP4,ENGL_ADDR,DIST_CODE
0,0,1304734489,HCL,1510000001,0,28100772,Hutchison Whampoa (China) Ltd,Fax,NaN,NaN,NaN,Hutchison Hse,105
1,1,1304734490,HCL,1510000228,0,25440899,Data Asia Technology Ltd,NaN,NaN,NaN,NaN,Xiu Ping Coml Bldg,104
2,2,1304734493,HCL,1510000448,0,21281188,Hutchison Whampoa Ltd,NaN,NaN,NaN,NaN,Hutchison Hse,105
3,3,1304734494,HCL,1510000448,0,21281705,Hutchison Whampoa Ltd,Fax,NaN,NaN,NaN,Hutchison Hse,105
4,4,1304734497,HCL,1510000519,0,28381812,Modern China Trade Ltd,NaN,NaN,NaN,NaN,Eastern Coml Ctr,106

In [6]:
data1['CUST_NAME']=data1['CUST_NAME'].str.lower()
data2['ENGL_CUST_NAME']=data2['ENGL_CUST_NAME'].str.lower()

In [7]:
data_cust_acc=list(data1.CUST_NAME.unique())
data_cust_acc

['south china property ltd',
 'the chinese university of hong kong',
 'huawei tech investment co ltd',
 'win key information technology limited',
 'p-marshall hong kong limited',
 'lee kwan knitwear uniform company',
 'obso21168976',
 'obso23904121',
 'fairyqueen ltd',
 'super fly technology limited',
 'faithenergy industrial (hk) ltd',
 'wing fat hong air-condition eng co',
 'golden wheel engineering co. limited',
 'merry link textiles ltd',
 'brilliant rich electronics limited',
 'strength engineering co ltd',
 'hung tat hong',
 'pacific providence limited',
 'wing on metal and circuits co',
 'wealth era development limited',
 'chin house employment agency ltd',
 'china way global company limited',
 'chuang xin (china) group limited',
 'chung kin paper products factory',
 'comfort finance & credit limited',
 'detrend textiles company limited',
 'dragonway group holdings limited',
 'eagle win printing equipment ltd',
 'east asian international limited',
 'ecrent worldwide company limited',
 'excel telecommunications limited',
 'fadannu holdings corporation ltd',
 'finest office furniture supplies',
 'fortune sign (hong kong) limited',
 'fung & liu solicitors & notaries',
 'glodal education network limited',
 'good view fruits company limited',
 'grand global enterprises company',
 'grand union garments factory ltd',
 'great long international limited',
 'gtg international travel limited',
 'han tag printing & label limited',
 'hang on printing & design co ltd',
 'harvest net international co ltd',
 'hing wah air-condition works co.',
 "hit diamond (sze's) holdings ltd",
 'prime pacific industries limited',
 're-joint p l b maxicab routes co',
 'redpoint screen printing fty ltd',
 'relegend eyewear company limited',
 'rich million investments limited',
 'vic-form co ltd',
 'alliance systems & appliances',
 'jeff packaging ltd',
 'matsunichi international holdings limited',
 'environmental protection dept.',
 'lands department',
 'harbour export company',
 'social welfare department',
 'the incorporated owners of wah fat ind bldg',
 'fitwin development ltd',
 'obso10927861',
 'growtech ltd',
 'obso15472756',
 'lai ying hung',
 'yat bo label co',
 'lok mei industrial co ltd',
 'j & g garment accessories mfg co limited',
 'obso13307533',
 'china resources vanguard (hong kong) co ltd (shop 115)',
 'lee wah plastic bag fty',
 'heng cheong engineering co',
 'ka mei co',
 'wong tai sin hsin kuang rest ltd',
 'c k import & export co ltd',
 'bandung enterprises',
 'sunrising international limited',
 'mayer shipping (hong kong) ltd',
 'introlines industrial (hk) ltd',
 'd j production house',
 'feet health centre',
 'lucky ample limited',
 'success eagle investment ltd',
 'wellstar international investment ltd',
 'century contact financial relations ltd',
 'may fung co ltd',
 'mtw packaging co ltd',
 'elegent design garment limited',
 'united air condition water electrical engineering co',
 'obso10309045',
 'roots of knowledge',
 'mgm accounting & secretarial company',
 'the executive centre hong kong ltd',
 'tashan enterprises ltd',
 'the hk & shanghai banking corp ltd',
 'veronicaspar (hk) limited',
 'hit audio ltd',
 'royalcorp employment agency limited',
 'prontoway ltd',
 "watson's the chemist",
 'chevalier property management ltd',
 'lin fung vegetabies',
 'hung to bean curd bean sprout',
 'the incorporated owners of king lam estate',
 'lung wah hotel ltd',
 'horizon suite hotel',
 'obso23377260',
 'the incorporated owners of heng on estate',
 'delfi tech (china) ltd',
 'graphic-mix supplies ltd',
 'park lane solutions limited',
 'pico international (hk) ltd',
 'prestige securities limited',
 'sinopec (hong kong) limited',
 'taiwan cooperative bank ltd',
 'td waterhouse investor serv',
 'vickers ballas hongkong ltd',
 'world courier hong kong ltd',
 'bridges executive centre ltd',
 'chung yuen electrical co ltd',
 'cido car carrier service ltd',
 'emerson climate technologies',
 'evergreen star hong kong ltd',
 'glaxo wellcome china limited',
 'honour lane shipping limited',
 'jardine fleming holdings ltd',
 'johnson electric trading ltd',
 'nippon cargo airlines co ltd',
 'ogilvy & mather (hk) pte ltd',
 'chang hwa commercial bank ltd',
 'edwin mcauley electronics ltd',
 'kam lung motor vehicle co ltd',
 'gnet ltd',
 "tang's transport limited",
 'wai lung plastic mfy ltd',
 'wan hong holdings limited',
 'supreme medical equipment company limited',
 'vetapet & associates limited',
 'obso22916134',
 'citybase property management ltd',
 'united christian nethersole community health service',
 'christian family service ctr',
 'garry knitting fty',
 'hop tai lung industrial co',
 "kong lee ind (int'l) co ltd",
 'yuen fat canteen',
 'swiss grand trading company limited',
 'famous dessert restaurant (group) company ltd',
 'd d research laboratory',
 'jade river industrial co.',
 'tip top water & cooler services ltd',
 'revenue collection systems hong kong limited',
 'ice master limited',
 'hang tat technology enterprise limited',
 'yuen long hop hing food company limited',
 'obso22348106',
 'cho chok yan',
 'chun sing motor service co',
 'kingswood strategic ltd',
 'starpith limited',
 'hong kong po kong electric ltd',
 'metal network international limited',
 'au tai kee farm product processing co ltd',
 'mad head app limited',
 'modern one station',
 'may kan transportation co.',
 'kwan wai ha',
 'opg purchasing ltd',
 'might foundation industrial limited',
 'chi tat education (wah ming) limited',
 'formalwin consultants ltd',
 'tsz shan monastery limited',
 'gold score ltd',
 'c&ma church union hong kong ltd',
 'hung hop paper co',
 'obso00014003',
 'obso00017774',
 'obso00018693',
 'obso00021034',
 'obso00021741',
 'obso00021849',
 'obso00021994',
 'obso00023075',
 'obso00023244',
 'obso00026292',
 'obso00027641',
 'obso00027667',
 'obso00027896',
 'obso00027951',
 'obso00030570',
 'obso00035245',
 'obso00042939',
 'obso00043747',
 'obso00044901',
 'obso00047090',
 'obso00047230',
 'obso00050651',
 'obso00060540',
 'obso00061094',
 'obso00063162',
 'obso00065497',
 'obso00065781',
 'obso00067612',
 'mou wah engineering company limited',
 'joinluck corporation limited',
 'obso24580433',
 'diamond saw engineering limited',
 'kam hing marble company ltd',
 'sinoway far east ltd',
 'ecarboy car accessories company',
 'pharmacogenetics limited',
 'hang wai (hvac) engineering limited',
 'grand halo opto electronic international (h.k.) limited',
 'obso23141401',
 'yue xun fa international limited',
 'hung tat electronics company limited',
 'unimex manufacturing ltd',
 'lau to sing',
 'asia-one employment agency',
 'archiater medical seryices limited',
 'kumon apex education centre',
 'talha & co',
 'telcan ltd',
 'victory co',
 'traxon technologies ltd',
 'yahoo! holding (hk) ltd',
 'aon risk services hk ltd',
 'asia commercial bank ltd',
 'canopath company limited',
 'jane street asia limited',
 'jardine fleming holdings',
 'lehman brothers asia ltd',
 'multek hong kong limited',
 'review publishing co ltd',
 'the chase manhattan bank',
 'united overseas bank ltd',
 'city telecom (hk) ltd',
 "concord int'l oil ltd",
 'dcenti investment ltd',
 'desco (hong kong) ltd',
 'dnp industrial co ltd',
 'dr lam tak hon clinic',
 "elletron int'l hk ltd",
 'excellent shipping co',
 'fashion point limited',
 'fdk hong kong limited',
 'feng cheig trading co',
 'frank & schulte gmbtt',
 'franz electronics ltd',
 'fullcan design studio',
 'g & w company limited',
 'gleamous holdings ltd',
 'global optics limited',
 'glorious holdings ltd',
 'grace concept limited',
 'grand choice (hk) ltd',
 'rambler oasis hotel',
 'harbour plaza hotel mgt ltd',
 'rambler garden hotel',
 'wong & fok',
 'whampoa property management ltd',
 'obso10550192',
 'obso24651622',
 'esaote china limited',
 'kamson property agency limited',
 'customs & excise department',
 'the hong kong jockey club',
 "hui's congee",
 'luen fat restaurant',
 'kayes international',
 'top star asia ltd',
 'talent jewellery limited',
 'immumax wellness centre limited',
 'new gear (asia) limited',
 'obso20775102',
 'iei industries ltd',
 'beauty focus professional centre',
 'ma sum yee, shirley',
 's lady medical limited',
 'sai sing funeral parlour',
 'obso21842752',
 'china shipping container lines (hong kong) agency co. ltd',
 'anda co',
 'chan kwai luen',
 'chi ki electrical engineering works ltd',
 'tam wah hing printing co',
 'c-print co limited',
 'prepress printing company limited',
 'li chi chung',
 'kwong lee shun trading company limited',
 'riri (hong kong) ltd',
 'hong kong immigration industrial and commerce joint',
 'ka yin ladies necessity co',
 'kingston (china) ltd',
 'spirit worldwide logistics limited',
 'advanced technology & industrial co ltd',
 'chiu man water electrical & air-conditioning eng',
 'pak lee store',
 'ink publishing (hk) limited',
 'hot dog tree ltd',
 'international design house ltd',
 'hong kong international terminals limited',
 'hutchison telecommunications international (hk) limited',
 'sing tao management services ltd',
 'cohesion air freight (hk) limited',
 'cosco container line agencies ltd',
 'deutsche bank ag hong kong branch',
 'smartone mobile communications ltd',
 'cheung kong property development ltd',
 'ceragem (tai wai) promotion centre limited',
 'shi shang (hk) limited',
 'sota style limited',
 'tak shing cleaning service co',
 'li kang wah',
 'hop wo electric co',
 'futronic technology co ltd',
 'great one enterprise company',
 'best fortune manufacturing ltd',
 'tinchikin pharmaceutical manufacturing limited',
 'jjb link logistics co. limited',
 'ka chi engineering ltd',
 'golden star restaurant o/b harbour view development (h.k.)',
 'mangowin foods company limited',
 'temmex brothers engineering limited',
 'jack-go (hk) limited',
 'gain harvest enterprise limited',
 'wavepearl ltd',
 'marching pharmaceutical limited',
 'shui on properties management ltd',
 'jeston transportation company limited',
 'intelligent cute baby limited',
 'sunway elastic braid company limited',
 'kei fung logistics and transportation limited',
 'yat cheong (china) development limited',
 'kent lucky hong kong limited',
 'yu yee',
 'seatac holdings ltd',
 'hospital authority',
 'parklane tutorial centre',
 'wang kee crane engineering company limited',
 'sino estates services ltd',
 'immigration department',
 'gelec (hk) limited',
 'victory manufacturing fire protection ltd',
 'high hair styling & beauty salon',
 's & m communications',
 'grand fortune leather trading',
 'nice district investment',
 'fine point industrial (holdings) limited',
 'd & p property co',
 'jinghui capital limited',
 'docler holding s.a.r.l.',
 'entertainment one uk limited',
 'sourcibo (international) limited',
 'seagate technology manufacturing (hong kong) limited',
 'vinstar development limited',
 'wei xin (hong kong) limited',
 'friends of shantou university limited',
 'registered chinese medicine specialist chau ching shan',
 'gorgeous industrial company',
 'george miller ltd',
 'yau luen electrical works co',
 'the incorporated owners of yue on court',
 'sunshine enterprises co',
 'eastern star logistics (hong kong) limited',
 'a-jex investment limited',
 'golden sea resources limited',
 'yuurakuchoo company',
 'acme (cosmetics) centre',
 'splendid century international limited',
 'build king management limited',
 'srt (s&p) architects limited',
 'nobletree limited',
 'joongo house restaurant',
 'freeborders ltd',
 'circle communications limited',
 'obso10035582',
 'obso10461911',
 'hthk-r733',
 'architectural services department',
 'hung kim fai',
 'rich profit investments (group) limited',
 'shinko asia (hong kong) limited',
 'obso20690541',
 'baby link & care company ltd',
 'yue man packaging co',
 'ting tak engineering ltd',
 'koshin plastic hk ltd',
 'wang shun consultant company',
 'fung shing company limited',
 "bright int'l flavours & fragrances (hk) ltd",
 'the imc of kit sam lam bing yim secondary school',
 'trade & industry department',
 'cheung wong plastic mfy',
 'yu hing buttons manufactory limited',
 'wide grand limited',
 'dgt products (hk) ltd',
 'kam wo marble engineering limited',
 'hop wo (international) trading co',
 'lee tak fuk trading co ltd',
 'yuen sing yiu henry',
 'obso21142310',
 'chan kwok wai',
 'wai kee motor service ltd',
 'wing fung metal manufactory',
 'c&ed lbc /shenzhen bay cargo division',
 'kei cheung property development company limited',
 'hong kong housing society',
 'office of kwai tsing db wong yiu chung',
 'feathermate cosmetic ltd',
 'zenith uniform company',
 'yuen long church (church of christ in china) chow sung chu--',
 'new supreme investment limited',
 'winsource industries ltd',
 'tung fat ho building material limited',
 'obso25187501',
 'goodwell property management ltd',
 'shui hong nursing home (cheung shan estate branch)',
 'yuen kee noodles',
 'tung wing industrial international company limited',
 'run on limited',
 'era electric centre ltd',
 'yick fung global industrial limited',
 'north point restaurant',
 'iron mountain hong kong limited',
 'kowloon funeral parlour company limited',
 'gammon construction ltd',
 'gammon construction limited',
 'man san aluminium co limited',
 'judiciary',
 'obso23418445',
 'hong kong housing authority',
 'come across international company limited',
 'hanes printer & publisher ltd.',
 'howard trading co o/b iris collection ltd',
 'the incorporated owners of belair gardens (shatin)',
 'law sau king',
 'raibow cloud laundry limited',
 'smart cheer corporation limited',
 'kamtech ltd',
 'kai kwong hong',
 'morning sun (h.k.) limited',
 'dragon choice ltd',
 'fontana (shatin) restaurant ltd',
 'li & fung (trading) limited',
 'wealthy realty ltd',
 'i.e.education center',
 'ma on shan promotion of livelihood and recreation associatio',
 'liu chi wai',
 'gw creations & design ltd',
 'advance technics company',
 'morn view chemicals limited',
 'kai luen telecommunication engineering ltd',
 'liu po shan memorial college',
 'sing sing decoration engineering limited',
 'matrix trading (hong kong) company limited',
 'hong kong group advertising service holding limited',
 'cheong hing co.',
 'topsic properties ltd',
 'territorial logistics ltd',
 'the sun e & m engineering co',
 'gold regal garment factory limited',
 'sino estates management ltd',
 'baynard ltd',
 'shun cheong electrical engineering co ltd',
 'obso22651921',
 'rich dragon co',
 'superpower pumping engineering co ltd',
 "y'tex international ltd",
 'sun faith international investment limited',
 'maverick manufacturing ltd',
 'ccb international (holdings) limited',
 'japan airlines international co.,ltd',
 'mitsui & company (hong kong) limited',
 'new world millennium hong kong hotel',
 'oceanwide securities company limited',
 'otis elevator company (h.k.) limited',
 'forexcellence ltd',
 'ricky fishmaw limited',
 'kgs technology ltd',
 'j a international ltd',
 'citiwide technologies limited',
 'otis precision hong kong limited',
 'yun fung metal industrial limited',
 'reason company',
 'young america far east company limited',
 'kiu sheung decoration co ltd',
 'tian long technology electronic and metal company',
 'cheung bros mfg co',
 'good tour',
 'four seasons travel ltd',
 'cheung man ki maggie',
 'obso22297725',
 'obso24136129',
 'shelly lo jazz & ballet school',
 'great melody cultural organization ltd',
 'parknshop (hk) limited',
 'huge tech holdings ltd',
 'william food company limited',
 'wish bon development limited',
 'y.f.c group logistics co ltd',
 'yee king electronics co. ltd',
 'yiu chung production company',
 'zapf creation (h.k.) limited',
 'a plus express (h.k.) limited',
 'alexander wang global limited',
 'alpha-pack enterprise limited',
 'arco corrugated paper fty ltd',
 'art design industries limited',
 'art time leather watch straps',
 'asia-ex employment centre ltd',
 'bescon hong kong co., limited',
 'calco industrial products ltd',
 'carnation industrial co. ltd.',
 'celltronics international co.',
 'central national asia limited',
 'cerveza sol international ltd',
 "chemitex int'l trading co ltd",
 'cheung yun kee plumbing works',
 'china diesel support services',
 'china natioinal chemical eng.',
 'chinamotion telecare (hk) ltd',
 'mobile master account (business)',
 'creative property services consultants ltd',
 'chi fu mould manufactory',
 'yick choi (h.k) electronic techician trading co',
 'skn global ltd',
 'standard fashion trading limited',
 'linkstar worldwide limited',
 'potter industries limited',
 'true queen development ltd',
 'hong kong rice merchants enterprices ltd',
 'leadway logistic company limited',
 'x-tec h.k. limited',
 'harbour plaza 8 degrees',
 'k y children shop',
 'obso23030950',
 'wellsum trading co ltd',
 'tan-ike co ltd',
 'wai shun company',
 'obso20190476',
 'sino trade-intelligent development corp ltd',
 'cido limited',
 'kdb asia ltd',
 'obso00000063',
 'obso00010052',
 'obso00065572',
 'obso00112580',
 'obso00284657',
 'obso00315195',
 'obso10132280',
 'obso10597862',
 'obso13081922',
 'obso21500145',
 'obso25436841',
 'obso27725878',
 'edesicool ltd',
 'excellent ltd',
 'htp group ltd',
 'k c ho & fong',
 'longshore ltd',
 'cemac (hk) ltd',
 'mayar (hk) ltd',
 'peral pond ltd',
 'prostar hk ltd',
 'sis hk limited',
 'obso00096776',
 'obso00098168',
 'obso00100031',
 'obso00100814',
 'obso00101275',
 'obso00101497',
 'obso00101564',
 'obso00101636',
 'obso00103711',
 'obso00108414',
 'obso00108417',
 'obso00108682',
 'obso00109990',
 'obso00111635',
 'obso00114102',
 'obso00114366',
 'obso00115721',
 'obso00119907',
 'obso00126019',
 'obso00126099',
 'obso00126967',
 'obso00128693',
 'obso00129801',
 'obso00129975',
 'obso00132137',
 'obso00135678',
 'obso00139361',
 'obso00139619',
 'obso00140857',
 'obso00141249',
 'obso00143727',
 'obso00144072',
 'obso00146861',
 'obso00151741',
 'obso00156126',
 'obso00157521',
 'obso00163308',
 'fantastic natural cosmetics ltd',
 'hong kong communications co ltd',
 'hong kong design centre limited',
 'linkfair household (hk) limited',
 'marconi communications asia ltd',
 'mks instruments (hong kong) ltd',
 'newpage financial press limited',
 'permasteelisa hong kong limited',
 'pro-art people creation limited',
 'simpson strong-tie asia limited',
 'sky shuttle helicopters limited',
 'topfur dressing company limited',
 'union apparel international ltd',
 'asm technology hong kong limited',
 'byme engineering (hong kong) ltd',
 'modern stone limited',
 'computer hospital',
 'shing shun electronics co',
 'menford ltd',
 'yat hing',
 'ying feng decoration (hk) company  limited',
 'kum shing (k f) construction co ltd',
 'audrey chow securities ltd',
 'high hope (hong kong) co ltd',
 'chinese business international exchange center limited',
 'daxlight development ltd',
 'obso00451509',
 'obso10469757',
 'obso12196101',
 'grant thornton',
 'best china global (hk) limited',
 'maxa capital limited',
 'chau koon wa',
 'prince kitchen',
 'eternity property agency',
 'fu shun lam canny',
 'obso11153384',
 'hthk-sme',
 'kddi hong kong ltd',
 'hewlett-packard ap (hong kong) limited',
 'the nielsen company (hong kong) limited',
 'obso23720899',
 'kin yeung holding ltd',
 'carpet express limited',
 'wanbo limited',
 'long view enterprise co.',
 'lux & co',
 'level-one telecom group (hk) limited',
 'eastplan international ltd',
 'obso23132731',
 'the mental health association of h.k.',
 'signature designs (hk) ltd',
 'the hong kong electric co ltd',
 'fuguiniao group limited',
 'pattern company limited',
 'tinyland limited',
 'best made toys global enterprises limited',
 'total aroma beauty',
 'b.p.i. hong kong co ltd',
 'carrianna (chiu chow) rest tst ltd',
 'morgan stanley asia limited',
 'wong siu lin',
 'scml trading company limited',
 'wisewing business centre limited',
 'kesco logistics limited',
 'hkbn jos limited',
 'ying kut lee medicine factory ltd',
 'the incorporated owners of tak tin est',
 'burgeon limited',

In [8]:
preprocess=pd.read_csv("Preprocess.csv")

In [9]:
preprocess.head()

                                           CUST_NAME ENGL_CUST_NAME
0  <Replace ',' and '.' with ' ' and replace doub...            NaN
1                                     INTERNATIONAL      Internatl
2                                             INT'L      Internatl
3                                           TRADING           Trdg
4                                            LIMITED            Ltd

In [10]:
preprocess['CUST_NAME']=preprocess['CUST_NAME'].str.strip()
preprocess['CUST_NAME']=preprocess['CUST_NAME'].str.lower()
preprocess

                                            CUST_NAME ENGL_CUST_NAME
0   <replace ',' and '.' with ' ' and replace doub...            NaN
1                                       international     Internatl
2                                               int'l     Internatl
3                                             trading          Trdg
4                                             limited            Ltd
5                                             company             Co
6                                          restaurant           Rest
7                                         restaurants          Rests
8                                               house            Hse
9                                         advertising         Advtg
10                                          furniture           Furn
11                                             agency           Agcy
12                                          warehouse        Warehse
13                                     transportation        Transp
14                                            service           Serv
15                                           services          Servs
16                                        (hong kong)          (HK)
17                                          hong kong             HK
18                                        association           Assn
19                                        engineering          Engrg
20                                           products         Prods
21                                            product          Prod
22                                        corporation           Corp
23                                           printing           Prtg
24                                         industrial           Ind
25                                      manufacturing            Mfg

In [11]:
preprocess['ENGL_CUST_NAME']=preprocess['ENGL_CUST_NAME'].str.strip()
preprocess['ENGL_CUST_NAME']=preprocess['ENGL_CUST_NAME'].str.lower()

In [12]:
preprocess.head()

                                           CUST_NAME ENGL_CUST_NAME
0  <replace ',' and '.' with ' ' and replace doub...            NaN
1                                      international      internatl
2                                              int'l      internatl
3                                            trading           trdg
4                                            limited            ltd

In [13]:
mydict = dict(zip(preprocess.ENGL_CUST_NAME, preprocess.CUST_NAME))

In [14]:
data1_custname=[]
for j in data1.CUST_NAME:
    i=j.replace(","," ")
    k=i.replace("."," ")
    l=k.replace("  "," ")
#     print(l)
    l_new=list(l.split(" "))
    for val in range(len(l_new)):
#         print(l_new[val])
        if l_new[val] in mydict:
#             print(l_new[val])
            l_new[val]=mydict[l_new[val]]
            
    store_val=" ".join(l_new)
    data1_custname.append(store_val)
#     print(store_val)

In [15]:
# print(len(data1_custname))

data1['CUST_NAME']=data1_custname
data1

,Unnamed: 0,SYSTEM,CATG_MGT_PNL,ACCT_CATG,CUST_NAME,ACCT_NAME,ACCT_NO,CONT_NO,LINE_NO,GN,...,CONTRACT_ADDR3,CONTRACT_ADDR4,BUILDING_ID,INST_ADDR_FLAT,INST_ADDR_FLOR,ADDRESS,INST_ADD1,INST_ADD2,INST_ADD3,INST_ADD4
0,0,ONOP,BDEL,B,south china property limited,SOUTH CHINA PROPERTY LTD,27333830,1,26380079,GN99999,...,17-19 SHING WAN RD,SHA TIN NT,7.23027e+07,FLAT 1603,16,TAI PO COMMERCIAL CTR 152-172 KWONG FUK RD TAI...,FLAT 1603 16/F,TAI PO COMMERCIAL CTR,152-172 KWONG FUK RD,TAI PO NT
1,1,ONOP,BDEL,GK,the chinese university of hong kong,THE CHINESE UNIVERSITY OF HONG KONG,23190887,6,31632124,GN00124,...,NaN,"SHATIN, N.T.",7.53015e+07,FLAT 254,1,ADAM SCHALL RESIDENCE CUHK SHA TIN NT,FLAT 254 1/F,ADAM SCHALL RESIDENCE,CUHK,SHATIN NT
2,2,ONOP,BDEL,GK,the chinese university of hong kong,OBSO23190887,23190887,13,31631653,GN00124,...,OBSO23190887,OBSO23190887,7.53015e+07,FLAT H1004,10,KUO MOU HALL CUHK SHA TIN NT,FLAT H1004 10/F,KUO MOU HALL,CUHK,SHATIN NT
3,3,ONOP,BDEL,MC,huawei tech investment company limited,HUAWEI TECH INVESTMENT CO LTD,12953410,27,35472710,GN01195,...,NaN,NaN,7.53016e+07,SERVER ROOM,8,BIO-INFORMATICS CENTRE HK SCIENCE PARK SHA TIN NT,SERVER ROOM 8/F,BIO-INFORMATICS CENTRE PH 1C,HK SCIENCE PARK,SHA TIN NT
4,4,ONOP,BDEL,B,win key information technology limited,WIN KEY INFORMATION TECHNOLOGY LIMITED,26422014,1,31651043,NaN,...,HK SCIENCE PARK,SHATIN NT,7.53016e+07,FLAT 209C,2,ENTERPRISE PLAZA HK SCIENCE PARK SHA TIN NT,FLAT 209C 2/F BLDG 9,HK SCIENCE PARK BLDG 9 PH 1C,HK SCIENCE PARK,SHATIN NT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2880469,2880469,ONOP,BDEL,C,hung chun enterprise company,HUNG CHUN ENTERPRISE COMPANY,20435053,1,31631589,GN99998,...,1-15 KWAI FUNG CRES,KWAI CHUNG NT,3.2604e+07,FLAT 16,11,BLK B PROFIT IND BLDG 1-15 KWAI FUNG CRES KWAI...,FLAT 16 11/F,PROFIT IND BLDG,1-15 KWAI FUNG CRES,KWAI CHUNG NT
2880470,2880470,ONOP,BDEL,IC,whampoa property management limited,WHAMPOA PROPERTY MANAGEMENT LTD,22843627,1,31651397,GN00422,...,RAMBLER CREST 1 TSING YI RD,TSING YI NT,3.50068e+07,NaN,L5,BLOCK 6 TSING YI RD 1 RAMBLER CREST TSING YI NT,L5/F BLOCK 6,NaN,RAMBLER CREST,TSING YI NT
2880471,2880471,ONOP,BDEL,IC,citybase property management limited,CITYBASE PROPERTY MANAGEMENT LTD,24536344,2,31532172,GN00401,...,8 ROBINSON RD,MID-LEVELS HK,5.10062e+07,NaN,G,TWR 1 KA YAN ST CENTRAL PARK TWRS TIN SHUI WAI NT,G/F BLOCK 1,TSWTL 24 AREA 33 (HGC/NB/02/1,NaN,TIN SHUI WAI NT
2880472,2880472,ONOP,BDEL,VB,hospital authority,HOSPITAL AUTHORITY,54797535,1,35425344,GN00071,...,POK OI HOSPITAL,"AU TAU,YUEN LONG,NEW TERRITORIES",5.25011e+07,PABX ROOM,G,POK OI HOSP CASTLE PEAK RD - YL YUEN LONG NT,PABX ROOM G/F,POK OI HOSP,CASTLE PEAK RD - YL,YUEN LONG NT
2880473,2880473,ONOP,IDAP/IDAM,VG,immigration department,IMMIGRATION DEPARTMENT,136259,81,38946500,GN00074,...,7 GLOUCESTER RD,WAN CHAI HK,6.25103e+07,NaN,2,ON TING IND CTR 3 ON CHUEN ST FANLING NT,2/F,ON TING IND CTR,3 ON CHUEN ST,FANLING NT

In [16]:
data2_custname=[]
for j in data2.ENGL_CUST_NAME:
    i=j.replace(","," ")
    k=i.replace("."," ")
    l=k.replace("  "," ")
#     print(l)
    l_new=list(l.split(" "))
    for val in range(len(l_new)):
#         print(l_new[val])
        if l_new[val] in mydict:
#             print(l_new[val])
            l_new[val]=mydict[l_new[val]]
            
    store_val=" ".join(l_new)
    data2_custname.append(store_val)

In [17]:
data2['ENGL_CUST_NAME']=data2_custname
data2

,Unnamed: 0,DQ_NO,NETW_CARR,MAST_NO,DEPT_NO,LINE_NO,ENGL_CUST_NAME,ENGL_CAP1,ENGL_CAP2,ENGL_CAP3,ENGL_CAP4,ENGL_ADDR,DIST_CODE
0,0,1304734489,HCL,1510000001,0,28100772,hutchison whampoa (china) limited,Fax,NaN,NaN,NaN,Hutchison Hse,105
1,1,1304734490,HCL,1510000228,0,25440899,data asia technology limited,NaN,NaN,NaN,NaN,Xiu Ping Coml Bldg,104
2,2,1304734493,HCL,1510000448,0,21281188,hutchison whampoa limited,NaN,NaN,NaN,NaN,Hutchison Hse,105
3,3,1304734494,HCL,1510000448,0,21281705,hutchison whampoa limited,Fax,NaN,NaN,NaN,Hutchison Hse,105
4,4,1304734497,HCL,1510000519,0,28381812,modern china trade limited,NaN,NaN,NaN,NaN,Eastern Coml Ctr,106
...,...,...,...,...,...,...,...,...,...,...,...,...,...
692397,692397,1305459356,HKT,1003863698,2,27017292.0,make the right call,NaN,NaN,NaN,NaN,23-25 Queen's Rdw,104
692398,692398,1305459357,HKT,1003863698,2,27017366.0,make the right call,NaN,NaN,NaN,NaN,23-25 Queen's Rdw,104
692399,692399,1305459358,HKT,1003880708,0,22034400.0,elsa group limited,NaN,NaN,NaN,NaN,Tower 1 China HK City,10
692400,692400,1305459359,HKT,1003880708,0,22034199.0,elsa group limited,NaN,NaN,NaN,NaN,Tower 1 China HK City,10
692401,692401,1305459360,HKT,1003880708,0,27872728.0,elsa group limited,NaN,NaN,NaN,NaN,Tower 1 China HK City,10

In [18]:
data1 = data1.drop_duplicates(subset='CUST_NAME', keep="first")
data1

,Unnamed: 0,SYSTEM,CATG_MGT_PNL,ACCT_CATG,CUST_NAME,ACCT_NAME,ACCT_NO,CONT_NO,LINE_NO,GN,...,CONTRACT_ADDR3,CONTRACT_ADDR4,BUILDING_ID,INST_ADDR_FLAT,INST_ADDR_FLOR,ADDRESS,INST_ADD1,INST_ADD2,INST_ADD3,INST_ADD4
0,0,ONOP,BDEL,B,south china property limited,SOUTH CHINA PROPERTY LTD,27333830,1,26380079,GN99999,...,17-19 SHING WAN RD,SHA TIN NT,7.23027e+07,FLAT 1603,16,TAI PO COMMERCIAL CTR 152-172 KWONG FUK RD TAI...,FLAT 1603 16/F,TAI PO COMMERCIAL CTR,152-172 KWONG FUK RD,TAI PO NT
1,1,ONOP,BDEL,GK,the chinese university of hong kong,THE CHINESE UNIVERSITY OF HONG KONG,23190887,6,31632124,GN00124,...,NaN,"SHATIN, N.T.",7.53015e+07,FLAT 254,1,ADAM SCHALL RESIDENCE CUHK SHA TIN NT,FLAT 254 1/F,ADAM SCHALL RESIDENCE,CUHK,SHATIN NT
3,3,ONOP,BDEL,MC,huawei tech investment company limited,HUAWEI TECH INVESTMENT CO LTD,12953410,27,35472710,GN01195,...,NaN,NaN,7.53016e+07,SERVER ROOM,8,BIO-INFORMATICS CENTRE HK SCIENCE PARK SHA TIN NT,SERVER ROOM 8/F,BIO-INFORMATICS CENTRE PH 1C,HK SCIENCE PARK,SHA TIN NT
4,4,ONOP,BDEL,B,win key information technology limited,WIN KEY INFORMATION TECHNOLOGY LIMITED,26422014,1,31651043,NaN,...,HK SCIENCE PARK,SHATIN NT,7.53016e+07,FLAT 209C,2,ENTERPRISE PLAZA HK SCIENCE PARK SHA TIN NT,FLAT 209C 2/F BLDG 9,HK SCIENCE PARK BLDG 9 PH 1C,HK SCIENCE PARK,SHATIN NT
5,5,ONOP,BDEL,B,p-marshall hong kong limited,P-MARSHALL HONG KONG LIMITED,51485548,1,22107099,GN99999,...,SCIENCE PARK,SHATIN NT,7.53016e+07,FLAT 605,6,LAKESIDE 1(WEST WING) HK SCIENCE PARK TAI PO NT,FLAT 605 6/F,LAKESIDE 1 PH 2,HK SCIENCE PARK,SHATIN NT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2880327,2880327,ONOP,NaN,ME,mitex int'l (hong kong) limited,MITEX INT'L (HONG KONG) LTD,12149035,1,94241127,GN08275,...,"75 MODY RD, T.S.T EAST, KLN",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2880352,2880352,ONOP,NaN,ME,golden electrical trading company,GOLDEN ELECTRICAL TRADING CO,426511,1,94905866,GN01081,...,CHEUNG SHA WAN,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2880407,2880407,ONOP,TC,C,tagphi technology holdings company limited,TAGPHI TECHNOLOGY HOLDINGS COMPANY LIMITED,55009674,1,39052808,GN99996,...,33 LOCKHART ROAD,WAN CHAI HK,19991,NaN,10,CHINA EVERGRANDE CTR 38 GLOUCESTER RD WAN CHAI HK,10/F,MASS MUTUAL TOWER,38 GLOUCESTER RD,WAN CHAI HK
2880420,2880420,ONOP,BDEL,B,obso14534499,OBSO14534499,14534499,1,21857116,NaN,...,OBSO14534499,OBSO14534499,100053,ROOM 11,10,BLK B FUNG YIP ST 12 KAILEY INDUKAILEY IND CTR...,ROOM 11 10/F BLOCK B,KAILEY IND CTR,12 FUNG YIP ST,CHAI WAN HK
2880429,2880429,ONOP,BDEL,B,obso21926480,OBSO21926480,21926480,1,35280193,NaN,...,OBSO21926480,OBSO21926480,100280,SHOP 1162,1,SMILING SHAU KEI WAN PLAZA SMILING SHAU KEI WA...,SHOP 1162 1/F,SMILING SHAU KEI WAN PLAZA,360A SHAU KEI WAN RD,SHAU KEI WAN HK

In [19]:
# ans=data2.copy().head(100)
# ans.to_csv("test-for-task3.csv")

In [20]:
# ans['ENGL_CUST_NAME']=ans['ENGL_CUST_NAME'].str.replace(","," ")

# ans.head(100)

,Unnamed: 0,DQ_NO,NETW_CARR,MAST_NO,DEPT_NO,LINE_NO,ENGL_CUST_NAME,ENGL_CAP1,ENGL_CAP2,ENGL_CAP3,ENGL_CAP4,ENGL_ADDR,DIST_CODE
0,0,1304734489,HCL,1510000001,0,28100772,hutchison whampoa (china) limited,Fax,NaN,NaN,NaN,Hutchison Hse,105
1,1,1304734490,HCL,1510000228,0,25440899,data asia technology limited,NaN,NaN,NaN,NaN,Xiu Ping Coml Bldg,104
2,2,1304734493,HCL,1510000448,0,21281188,hutchison whampoa limited,NaN,NaN,NaN,NaN,Hutchison Hse,105
3,3,1304734494,HCL,1510000448,0,21281705,hutchison whampoa limited,Fax,NaN,NaN,NaN,Hutchison Hse,105
4,4,1304734497,HCL,1510000519,0,28381812,modern china trade limited,NaN,NaN,NaN,NaN,Eastern Coml Ctr,106
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,95,1304734547,HCL,1510001301,3,27648589,sui fung hong kong limited,NaN,NaN,NaN,NaN,Winner Bldg,11
96,96,1304734548,HCL,1510001322,0,21218080,department of health,24 Hours Health Hotline,Elderly Health Servs,NaN,NaN,Wan Chai,106
97,97,1304734549,HCL,1510001322,0,31634530,department of health,Lam Tin Schl Dental Clinic,Fax,NaN,NaN,Lam Tn Poly Clinic Kai Tin Rd,28
98,98,1304734550,HCL,1510001322,0,21218621,department of health,Elderly Health Services,Public Enquiries,NaN,NaN,Hopewell Centre,106
99,99,1304734551,HCL,1510001322,1,21218628,department of health,Elderly Health Servs ( HQ ),Fax,NaN,NaN,Wan Chai,106

In [21]:
# # data_cust_dq=list(ans['ENGL_CUST_NAME'])
# val=list(ans['ENGL_CUST_NAME'])

In [22]:
# conda install -c conda-forge fuzzywuzzy

Collecting package metadata (current_repodata.json): done
Solving environment: done

# All requested packages already installed.


Note: you may need to restart the kernel to use updated packages.

In [23]:
# from fuzzywuzzy import fuzz

In [24]:
# from tqdm import tqdm
# save_ratio=[]
# save_cust=[]
# final_ratio=[]
# final_cust=[]
# count=0
# save_both=[]
# for i in tqdm(range(len(val))):
#     save_ratio=[]
#     save_cust=[]
#     save_both=[]
#     for j in data_cust_acc:
# #         print(val[i],j)
#         Ratio = fuzz.token_sort_ratio(val[i],j)

        
#         if Ratio>=80:
#             inter_save=str(Ratio)+"|"+j
# #             print(inter_save)
#             new_save=list(inter_save.split("|"))
# #             print(new_save)
# #             save_ratio.append(Ratio)
# #             save_cust.append(j)
#             save_both.append(new_save)
# #             count+=1
# #             valcheck=max(int(save_both[]))
# #             print(valcheck)
        
#     if save_both==[]:
#         final_ratio.append(None)
#         final_cust.append(None)
#     elif len(save_both)>0:
        
        
#         valnext1=[int(row[0]) for row in save_both]
# #         print(valnext1)
#         save=valnext1.index(max(valnext1))
# #         print(save)
#         ans1=save_both[save]
    
#         final_ratio.append(ans1[0])
#         final_cust.append(ans1[1])

100%|██████████| 100/100 [06:59<00:00,  4.19s/it]

In [36]:
# print(final_ratio)

In [37]:
# print(final_cust)

In [38]:
# ans['Names']=final_cust
# ans['Ratios']=final_ratio

In [28]:
# ans

,Unnamed: 0,DQ_NO,NETW_CARR,MAST_NO,DEPT_NO,LINE_NO,ENGL_CUST_NAME,ENGL_CAP1,ENGL_CAP2,ENGL_CAP3,ENGL_CAP4,ENGL_ADDR,DIST_CODE,Names,Ratios
0,0,1304734489,HCL,1510000001,0,28100772,hutchison whampoa (china) limited,Fax,NaN,NaN,NaN,Hutchison Hse,105,hutchison whampoa (china) limited,100
1,1,1304734490,HCL,1510000228,0,25440899,data asia technology limited,NaN,NaN,NaN,NaN,Xiu Ping Coml Bldg,104,data asia technology ltd,92
2,2,1304734493,HCL,1510000448,0,21281188,hutchison whampoa limited,NaN,NaN,NaN,NaN,Hutchison Hse,105,hutchison whampoa limited,100
3,3,1304734494,HCL,1510000448,0,21281705,hutchison whampoa limited,Fax,NaN,NaN,NaN,Hutchison Hse,105,hutchison whampoa limited,100
4,4,1304734497,HCL,1510000519,0,28381812,modern china trade limited,NaN,NaN,NaN,NaN,Eastern Coml Ctr,106,worldtrade (china) limited,84
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,95,1304734547,HCL,1510001301,3,27648589,sui fung hong kong limited,NaN,NaN,NaN,NaN,Winner Bldg,11,fung & rui hongkong limited,94
96,96,1304734548,HCL,1510001322,0,21218080,department of health,24 Hours Health Hotline,Elderly Health Servs,NaN,NaN,Wan Chai,106,department of health,100
97,97,1304734549,HCL,1510001322,0,31634530,department of health,Lam Tin Schl Dental Clinic,Fax,NaN,NaN,Lam Tn Poly Clinic Kai Tin Rd,28,department of health,100
98,98,1304734550,HCL,1510001322,0,21218621,department of health,Elderly Health Services,Public Enquiries,NaN,NaN,Hopewell Centre,106,department of health,100
99,99,1304734551,HCL,1510001322,1,21218628,department of health,Elderly Health Servs ( HQ ),Fax,NaN,NaN,Wan Chai,106,department of health,100

In [29]:
# ans.to_csv("newtask3output.csv")

In [39]:
data2=data2.rename(columns={"ENGL_CUST_NAME":"CUST_NAME"})

In [40]:
data2

,Unnamed: 0,DQ_NO,NETW_CARR,MAST_NO,DEPT_NO,LINE_NO,CUST_NAME,ENGL_CAP1,ENGL_CAP2,ENGL_CAP3,ENGL_CAP4,ENGL_ADDR,DIST_CODE
0,0,1304734489,HCL,1510000001,0,28100772,hutchison whampoa (china) limited,Fax,NaN,NaN,NaN,Hutchison Hse,105
1,1,1304734490,HCL,1510000228,0,25440899,data asia technology limited,NaN,NaN,NaN,NaN,Xiu Ping Coml Bldg,104
2,2,1304734493,HCL,1510000448,0,21281188,hutchison whampoa limited,NaN,NaN,NaN,NaN,Hutchison Hse,105
3,3,1304734494,HCL,1510000448,0,21281705,hutchison whampoa limited,Fax,NaN,NaN,NaN,Hutchison Hse,105
4,4,1304734497,HCL,1510000519,0,28381812,modern china trade limited,NaN,NaN,NaN,NaN,Eastern Coml Ctr,106
...,...,...,...,...,...,...,...,...,...,...,...,...,...
692397,692397,1305459356,HKT,1003863698,2,27017292.0,make the right call,NaN,NaN,NaN,NaN,23-25 Queen's Rdw,104
692398,692398,1305459357,HKT,1003863698,2,27017366.0,make the right call,NaN,NaN,NaN,NaN,23-25 Queen's Rdw,104
692399,692399,1305459358,HKT,1003880708,0,22034400.0,elsa group limited,NaN,NaN,NaN,NaN,Tower 1 China HK City,10
692400,692400,1305459359,HKT,1003880708,0,22034199.0,elsa group limited,NaN,NaN,NaN,NaN,Tower 1 China HK City,10
692401,692401,1305459360,HKT,1003880708,0,27872728.0,elsa group limited,NaN,NaN,NaN,NaN,Tower 1 China HK City,10

In [42]:
data1['Score']=100

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [43]:
data_main=data2.merge(data1,on='CUST_NAME',how='left')

In [44]:
data_main

,Unnamed: 0_x,DQ_NO,NETW_CARR,MAST_NO,DEPT_NO,LINE_NO_x,CUST_NAME,ENGL_CAP1,ENGL_CAP2,ENGL_CAP3,...,CONTRACT_ADDR4,BUILDING_ID,INST_ADDR_FLAT,INST_ADDR_FLOR,ADDRESS,INST_ADD1,INST_ADD2,INST_ADD3,INST_ADD4,Score
0,0,1304734489,HCL,1510000001,0,28100772,hutchison whampoa (china) limited,Fax,NaN,NaN,...,HUNG HOM KLN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.0
1,1,1304734490,HCL,1510000228,0,25440899,data asia technology limited,NaN,NaN,NaN,...,SHEUNG WAN HK,7932,NaN,NaN,XIU PING COMM BLDG 104 JERVOIS ST SHEUNG WAN HK,18/F XIU PING COMM BLDG,104 JERVOIS ST,SHEUNG WAN,HK,100.0
2,2,1304734493,HCL,1510000448,0,21281188,hutchison whampoa limited,NaN,NaN,NaN,...,CENTRAL DISTRICT HK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.0
3,3,1304734494,HCL,1510000448,0,21281705,hutchison whampoa limited,Fax,NaN,NaN,...,CENTRAL DISTRICT HK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.0
4,4,1304734497,HCL,1510000519,0,28381812,modern china trade limited,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
692397,692397,1305459356,HKT,1003863698,2,27017292.0,make the right call,NaN,NaN,NaN,...,SHEUNG WAN HK,90505,FLAT 1302,13,NAM WO HONG BLDG 148 WING LOK ST SHEUNG WAN HK,FLAT 1302 13/F,NAM WO HONG BLDG,148 WING LOK ST,SHEUNG WAN HK,100.0
692398,692398,1305459357,HKT,1003863698,2,27017366.0,make the right call,NaN,NaN,NaN,...,SHEUNG WAN HK,90505,FLAT 1302,13,NAM WO HONG BLDG 148 WING LOK ST SHEUNG WAN HK,FLAT 1302 13/F,NAM WO HONG BLDG,148 WING LOK ST,SHEUNG WAN HK,100.0
692399,692399,1305459358,HKT,1003880708,0,22034400.0,elsa group limited,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
692400,692400,1305459359,HKT,1003880708,0,22034199.0,elsa group limited,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
692401,692401,1305459360,HKT,1003880708,0,27872728.0,elsa group limited,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
data_main.to_csv("final.csv")

In [ ]:
checker=data_main[['CUST_NAME']]