In [1]:
import pandas as pd

In [2]:
data1=pd.read_csv("account_profile_1.csv")

In [3]:
data2=pd.read_csv("DQmaster.csv",encoding= 'unicode_escape')

/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (1,7,11,12,19,20) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
data1.head()
data1.columns.sort_values
data1.shape

(623, 24)

In [5]:
data2.head()

,DQ_NO,ACCT_NO,TRAN_CODE,NETW_CARR,MAST_NO,DEPT_NO,SEQU_NO,PHON_NO,ENGL_CUST_NAME,ENGL_CAP1,...,COMM_TYPE,DISP_INDC,LAST_UPDT_USER,LAST_UPDT_DATE,YELLOW_PAGE_YN,PRINT_YN,TRAN_TIME,DUMMY_NAME,DUMMY_ADDR,FREQUENCE
0,1304734489,NaN,I,HCL,1510000001,0,10,28100772,Hutchison Whampoa (China) Ltd,Fax,...,V,N,DQ_20190118,18-JAN-19,NaN,NaN,20190113032135,NaN,NaN,NaN
1,1304734490,NaN,I,HCL,1510000228,0,1,25440899,Data Asia Technology Ltd,NaN,...,V,N,DQ_20190118,18-JAN-19,NaN,NaN,20190113032135,NaN,NaN,NaN
2,1304734493,NaN,I,HCL,1510000448,0,1,21281188,Hutchison Whampoa Ltd,NaN,...,V,N,DQ_20190118,18-JAN-19,NaN,NaN,20190113032135,NaN,NaN,NaN
3,1304734494,NaN,I,HCL,1510000448,0,2,21281705,Hutchison Whampoa Ltd,Fax,...,V,N,DQ_20190118,18-JAN-19,NaN,NaN,20190113032135,NaN,NaN,NaN
4,1304734497,NaN,I,HCL,1510000519,0,1,28381812,Modern China Trade Ltd,NaN,...,V,N,DQ_20190118,18-JAN-19,NaN,NaN,20190113032135,NaN,NaN,NaN

In [6]:
data2.columns.sort_values()

Index(['ACCT_NO', 'CHIN_ADDR', 'CHIN_CAP1', 'CHIN_CAP2', 'CHIN_CAP3',
       'CHIN_CAP4', 'CHIN_CUST_NAME', 'COMM_TYPE', 'DEPT_NO', 'DISP_INDC',
       'DIST_CODE', 'DQ_NO', 'DUMMY_ADDR', 'DUMMY_NAME', 'ENGL_ADDR',
       'ENGL_CAP1', 'ENGL_CAP2', 'ENGL_CAP3', 'ENGL_CAP4', 'ENGL_CUST_NAME',
       'FREQUENCE', 'LAST_UPDT_DATE', 'LAST_UPDT_USER', 'MAST_NO', 'NETW_CARR',
       'PHON_NO', 'PRINT_YN', 'SEQU_NO', 'TARI_CODE', 'TRAN_CODE', 'TRAN_TIME',
       'YELLOW_PAGE_YN'],
      dtype='object')

In [7]:
save=data1[data1['LINE_NO'].notnull()]

In [8]:
data1.shape

(623, 24)

In [9]:
lineno=list(data1['LINE_NO'])

In [10]:
data2

,DQ_NO,ACCT_NO,TRAN_CODE,NETW_CARR,MAST_NO,DEPT_NO,SEQU_NO,PHON_NO,ENGL_CUST_NAME,ENGL_CAP1,...,COMM_TYPE,DISP_INDC,LAST_UPDT_USER,LAST_UPDT_DATE,YELLOW_PAGE_YN,PRINT_YN,TRAN_TIME,DUMMY_NAME,DUMMY_ADDR,FREQUENCE
0,1304734489,NaN,I,HCL,1510000001,0,10,28100772,Hutchison Whampoa (China) Ltd,Fax,...,V,N,DQ_20190118,18-JAN-19,NaN,NaN,20190113032135,NaN,NaN,NaN
1,1304734490,NaN,I,HCL,1510000228,0,1,25440899,Data Asia Technology Ltd,NaN,...,V,N,DQ_20190118,18-JAN-19,NaN,NaN,20190113032135,NaN,NaN,NaN
2,1304734493,NaN,I,HCL,1510000448,0,1,21281188,Hutchison Whampoa Ltd,NaN,...,V,N,DQ_20190118,18-JAN-19,NaN,NaN,20190113032135,NaN,NaN,NaN
3,1304734494,NaN,I,HCL,1510000448,0,2,21281705,Hutchison Whampoa Ltd,Fax,...,V,N,DQ_20190118,18-JAN-19,NaN,NaN,20190113032135,NaN,NaN,NaN
4,1304734497,NaN,I,HCL,1510000519,0,1,28381812,Modern China Trade Ltd,NaN,...,V,N,DQ_20190118,18-JAN-19,NaN,NaN,20190113032135,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
692397,1305459356,NaN,I,HKT,1003863698,2,33333,2.70173e+07,Make The Right Call,NaN,...,V,N,DQ_20190226,26-FEB-19,NaN,NaN,20190225100302,NaN,NaN,NaN
692398,1305459357,NaN,I,HKT,1003863698,2,66666,2.70174e+07,Make The Right Call,NaN,...,V,N,DQ_20190226,26-FEB-19,NaN,NaN,20190225100447,NaN,NaN,NaN
692399,1305459358,NaN,I,HKT,1003880708,0,200100,2.20344e+07,Elsa Group Ltd,NaN,...,V,N,DQ_20190226,26-FEB-19,NaN,NaN,20190223100402,NaN,NaN,NaN
692400,1305459359,NaN,I,HKT,1003880708,0,200200,2.20342e+07,Elsa Group Ltd,NaN,...,V,N,DQ_20190226,26-FEB-19,NaN,NaN,20190223100402,NaN,NaN,NaN
692401,1305459360,NaN,I,HKT,1003880708,0,200300,2.78727e+07,Elsa Group Ltd,NaN,...,V,N,DQ_20190226,26-FEB-19,NaN,NaN,20190223100402,NaN,NaN,NaN

In [11]:
ans=list(data2['PHON_NO'][data2['PHON_NO'].isin(lineno)])

save_customer=list(data2['ENGL_CUST_NAME'][data2['PHON_NO'].isin(lineno)])
data2[data2['PHON_NO'].isin(lineno)]

,DQ_NO,ACCT_NO,TRAN_CODE,NETW_CARR,MAST_NO,DEPT_NO,SEQU_NO,PHON_NO,ENGL_CUST_NAME,ENGL_CAP1,...,COMM_TYPE,DISP_INDC,LAST_UPDT_USER,LAST_UPDT_DATE,YELLOW_PAGE_YN,PRINT_YN,TRAN_TIME,DUMMY_NAME,DUMMY_ADDR,FREQUENCE
0,1304734489,NaN,I,HCL,1510000001,0,10,28100772,Hutchison Whampoa (China) Ltd,Fax,...,V,N,DQ_20190118,18-JAN-19,NaN,NaN,20190113032135,NaN,NaN,NaN
23,1304734518,NaN,I,HCL,1510001030,0,1,28662461,Fortress,HK Region Shop,...,V,N,DQ_20190118,18-JAN-19,NaN,NaN,20190113032135,NaN,NaN,NaN
28,1304734524,NaN,I,HCL,1510001075,0,1,25558522,Fortress Ltd The,NaN,...,V,N,DQ_20190118,18-JAN-19,NaN,NaN,20190113032135,NaN,NaN,NaN
353,1304734817,NaN,I,HCL,1510003333,0,1,21867212,Fortress,NT Region Shop,...,V,N,DQ_20190118,18-JAN-19,NaN,NaN,20190113032135,NaN,NaN,NaN
401,1304734866,NaN,I,HCL,1510003736,0,1,21218393,Fortress,Kln Region Shop,...,V,N,DQ_20190118,18-JAN-19,NaN,NaN,20190113032135,NaN,NaN,NaN
1657,1304736296,NaN,I,HCL,1510013704,0,10,25682280,Fortress,NaN,...,V,N,DQ_20190118,18-JAN-19,NaN,NaN,20190113032135,NaN,NaN,NaN
1658,1304736297,NaN,I,HCL,1510013704,10,20,31523066,Fortress,NaN,...,V,N,DQ_20190118,18-JAN-19,NaN,NaN,20190113032135,NaN,NaN,NaN
22445,1304759870,NaN,I,HCL,1510154869,0,1,21867206,Winner Fortune Ltd,NaN,...,V,N,DQ_20190118,18-JAN-19,NaN,NaN,20190113032135,NaN,NaN,NaN
92631,1304832464,NaN,I,HCL,1510397580,10,11,35292432,Prime Consulting Engineers Ltd,NaN,...,V,N,DQ_20190118,18-JAN-19,NaN,NaN,20190113032135,NaN,NaN,NaN
92632,1304832465,NaN,I,HCL,1510397580,20,21,35292433,Prime Consulting Engineers Ltd,NaN,...,V,N,DQ_20190118,18-JAN-19,NaN,NaN,20190113032135,NaN,NaN,NaN
92633,1304832466,NaN,I,HCL,1510397580,30,31,35292434,Prime Consulting Engineers Ltd,NaN,...,V,N,DQ_20190118,18-JAN-19,NaN,NaN,20190113032135,NaN,NaN,NaN
98498,1304837490,NaN,I,HCL,1510405077,0,1,21229359,Aces Internatl (HK) Ltd,NaN,...,V,N,DQ_20190118,18-JAN-19,NaN,NaN,20190113032135,NaN,NaN,NaN
115643,1304857358,NaN,I,HBN,1600261526,0,1,25808665,Zzue Creation,NaN,...,V,N,DQ_20190118,18-JAN-19,NaN,NaN,20190114110652,NaN,NaN,NaN
215375,1304967195,NaN,I,HKT,1002646101,12,2200000,25791036,GDC Technology Ltd,NaN,...,V,N,DQ_20190118,18-JAN-19,NaN,NaN,20100413145633,NaN,NaN,NaN
225729,1304980256,NaN,I,HKT,1002855157,0,0,25212282,Overseas Employment Centre Ltd,Central Br,...,V,N,DQ_20190118,18-JAN-19,NaN,NaN,20160625105759,NaN,NaN,NaN
225736,1304980263,NaN,I,HKT,1002855157,2,1900000,25212283,Overseas Employment Centre Ltd,NaN,...,F,N,DQ_20190118,18-JAN-19,NaN,NaN,20160625105209,NaN,NaN,NaN
231914,1304985085,NaN,I,HKT,1002909481,6,300000,28684522,Kasikornbank Public Co Ltd,NaN,...,V,N,DQ_20190118,18-JAN-19,NaN,NaN,20170426091434,NaN,NaN,NaN
287867,1305046334,NaN,I,HKT,1003529145,0,200000,25253705,Citic Internatl Assets Mgt Ltd,NaN,...,V,N,DQ_20190118,18-JAN-19,NaN,NaN,20180915103403,NaN,NaN,NaN
288724,1305048878,NaN,I,HKT,1003555378,20,1700000,25200623,IDP Education Ltd,NaN,...,V,N,DQ_20190118,18-JAN-19,NaN,NaN,20180726105443,NaN,NaN,NaN
336321,1305100143,NaN,I,HKT,1004022864,119,4700000,36902390,Belle Internatl (China) Ltd,NaN,...,V,N,DQ_20190118,18-JAN-19,NaN,NaN,20180706100100,NaN,NaN,NaN
345747,1305102335,NaN,I,HKT,1004036947,21,100000,28104900,Eaglehigh Mgt Ltd,NaN,...,V,N,DQ_20190118,18-JAN-19,NaN,NaN,20130419093650,NaN,NaN,NaN
363293,1305122731,NaN,I,HKT,1004139742,0,0,25548025,Fortress-A Division Of AS Watson Group (HK) Ltd,NaN,...,V,N,DQ_20190118,18-JAN-19,NaN,NaN,20160815145516,NaN,NaN,NaN
378034,1305511006,NaN,A,HKT,1004534027,0,100,25622692,Lam Mei Wa,NaN,...,V,N,DQ_20191213,13-DEC-19,NaN,NaN,20191210111205,NaN,NaN,NaN
444011,1305245631,NaN,I,HKT,1004555878,1,400000,25671699,Md Medical Servs Ltd,NaN,...,F,N,DQ_20190118,18-JAN-19,NaN,NaN,20170118120129,NaN,NaN,NaN
536569,1305342979,NaN,I,HKT,29060,633,3400000,21210947,Fortress,NT Region Shop,...,V,N,DQ_20190118,18-JAN-19,NaN,NaN,20130715102101,NaN,NaN,NaN
536581,1305342993,NaN,I,HKT,29060,677,2800000,39043973,Fortress,NT Region Shop,...,V,N,DQ_20190118,18-JAN-19,NaN,NaN,20130716112409,NaN,NaN,NaN
536582,1305342995,NaN,I,HKT,29060,678,5700000,39043977,Fortress,NaN,...,V,N,DQ_20190118,18-JAN-19,NaN,NaN,20130716112802,NaN,NaN,NaN
536584,1305342997,NaN,I,HKT,29060,680,5800000,35200514,Fortress,NaN,...,V,N,DQ_20190118,18-JAN-19,NaN,NaN,20130716112809,NaN,NaN,NaN
677792,1305498207,NaN,I,HKT,6793135,5246,100207,25211255,FWD Life Ins Co (Bermuda) Ltd,NaN,...,V,N,DQ_20191004,04-OCT-19,NaN,NaN,20191003053428,NaN,NaN,NaN
679494,1305505094,NaN,I,HKT,1004691939,0,0,28861999,Linkup Business Servs Ltd,NaN,...,V,N,DQ_20191112,12-NOV-19,NaN,NaN,20191109053208,NaN,NaN,NaN

In [47]:
finaldata1=list(data1['CUST_NAME'][data1['LINE_NO'].isin(ans)])

In [60]:
finaldata1=finaldata1[:-2]
finaldata1

['HUTCHISON WHAMPOA (CHINA) LTD',
 'HUTCHISON WHAMPOA (CHINA) LTD',
 'HUTCHISON WHAMPOA (CHINA) LTD',
 'HUTCHISON WHAMPOA (CHINA) LTD',
 'HUTCHISON WHAMPOA (CHINA) LTD',
 'HUTCHISON WHAMPOA (CHINA) LTD',
 'HUTCHISON WHAMPOA (CHINA) LTD',
 'FORTRESS',
 'FORTRESS',
 'FORTRESS',
 'FORTRESS',
 'FORTRESS',
 'FORTRESS',
 'FORTRESS',
 'FORTRESS',
 'FORTRESS',
 'FORTRESS',
 'FORTRESS',
 'FORTRESS',
 'FORTRESS',
 'FORTRESS',
 'FORTRESS',
 'FORTRESS',
 'FORTRESS',
 'FORTRESS',
 'FORTRESS',
 'FORTRESS',
 'FORTRESS']

In [61]:
len(save_customer)
save_customer

['Hutchison Whampoa (China) Ltd',
 'Fortress',
 'Fortress Ltd The',
 'Fortress',
 'Fortress',
 'Fortress',
 'Fortress',
 'Winner Fortune Ltd',
 'Prime Consulting Engineers Ltd',
 'Prime Consulting Engineers Ltd',
 'Prime Consulting Engineers Ltd',
 'Aces Internatl (HK) Ltd',
 'Zzue Creation',
 'GDC Technology Ltd',
 'Overseas Employment Centre Ltd',
 'Overseas Employment Centre Ltd',
 'Kasikornbank Public Co Ltd',
 'Citic Internatl Assets Mgt Ltd',
 'IDP Education Ltd',
 'Belle Internatl (China) Ltd',
 'Eaglehigh Mgt Ltd',
 'Fortress-A Division Of AS Watson Group (HK) Ltd',
 'Lam Mei Wa',
 'Md Medical Servs Ltd',
 'Fortress',
 'Fortress',
 'Fortress',
 'Fortress',
 'FWD Life Ins Co (Bermuda) Ltd',
 'Linkup Business Servs Ltd']

In [24]:
conda install -c conda-forge fuzzywuzzy

Collecting package metadata (current_repodata.json): done
Solving environment: done

# All requested packages already installed.


Note: you may need to restart the kernel to use updated packages.

In [50]:
from fuzzywuzzy import fuzz

In [51]:
save_val=[]
for i in range(len(save_customer)):

    Ratio = fuzz.ratio(save_customer[i].lower(),finaldata[i].lower())
    save_val.append(Ratio)

In [59]:
task=pd.DataFrame(save_customer,columns=['customer1'])

In [55]:
task['customer2']=finaldata1

In [56]:
task['Ratio']=save_val

In [58]:
task.to_csv("task.csv")